MQTT_HOST=192.168.10.76
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=

RING_LOCATION_ID=558160f8-03ae-48da-bd30-8999e38d0269
RING_CAMERA_ID=343ea4dd1515
RING_INTERCOM_ID=343ea4b1121d

RTSP_STREAM_URL=rtsp://192.168.10.76:8554/343ea4dd1515_live
GO2RTC_URL=http://192.168.10.76:1985

RECORD_DURATION_SEC=25
RECORD_COOLDOWN_SEC=20
RECORD_ON_DING=true
RECORD_ON_MOTION=true
VIDEO_DIR=/data/video
